.katary_table_container {
    background-color: #A0B !important;
    color: #FFF;
    width: 100%;
}

.katary_title {
    background-color: #0F0 !important;
    color: #FFF !important;
}

.katary_paginator {
    background-color: #C04;
    color: #FFF !important;
}