/*.css-1e2bxag-MuiDataGrid-root {
    border-style: none !important;
}

.css-f3jnds-MuiDataGrid-columnHeaders {
    border-bottom-color: #E4E6EF !important;
    border-bottom-style: dashed !important;
    border-bottom-width: 1px !important;
    color: #A1A5B7 !important;
    font-size: 1.1rem !important;
}

.css-1e2bxag-MuiDataGrid-root .MuiDataGrid-cell {
    border-bottom-color: #E4E6EF !important;
    border-bottom-style: dashed !important;
    border-bottom-width: 1px !important;
    color: #181C32 !important;
    font-weight: bold !important;
    font-size: 1.095rem !important;
}*/